<div class="transactions">
    <h3>Transactions</h3>
    <section class="transactions__form-wrapper">
        <form class="transactions__search-form">
            <input type="text">
            <button type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button *ngIf="accountId" class="transactions__sort-by-date"
        (click)="sortTransactions()">
            <mat-icon>sort</mat-icon>
            <span>Transactions By Date</span>
        </button>
    </section>
    <section class="transactions__account-transactions" *ngIf="transactions.length > 0">
        <app-transaction *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction>
    </section>
    <section class="transactions__no-transactions" *ngIf="transactions.length === 0 && accountId">
        <h2>This account does not have any transactions</h2>
    </section>
    <section class="transactions__no-transactions" *ngIf="transactions.length === 0 && !accountId">
        <h2>You don't have any transactions</h2>
    </section>
</div>