<div class="transactions">
    <h3>Transactions</h3>
    <section class="transactions__form-wrapper">
        <form class="transactions__search-form">
            <input type="text">
            <button type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button class="transactions__sort-by-date">
            <mat-icon>sort</mat-icon>
            <span>Transactions By Date</span>
        </button>
    </section>
    <section class="transactions__account-transactions">
        <app-transaction></app-transaction>
    </section>
</div>