<div class="transaction" (click)="showTransactionDetailsComponent(transaction._id)">
    <h4 class="transaction__category">{{transaction.category}}</h4>
    <div class="transaction__description">
        <h4>{{transaction.title}}</h4>
        <span class="transaction__type">{{transaction.transactionType}}</span>
        &#183;
        <span class="transaction__date">{{transaction.createdAt | date:'MM.dd.y'}}</span>
    </div>
    <div class="transaction__amount-wrapper">
        <h2 class="transaction__amount">{{transaction.amount}}$</h2>
    </div>
</div>