<div class="transaction-details">
    <div class="transaction-details__content">
        <h1>Transaction Details</h1>
        <div class="transaction-details-options">
            <button mat-button (click)="deleteTransaction()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-button (click)="showUpdatePage()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="closeDialog()">
                <mat-icon mat-button>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="transaction-details__amount-info">
        <div class="transaction-details__transaction-type">
            <mat-icon 
            [style.backgroundColor]="transaction.transactionType === 'Income' ? '#21C206' : '#EE3F19'" 
            class="arrow-circle arrow-cicle-income">
            {{transaction.transactionType === 'Income' ? 'arrow_downward' : 'arrow_upward'}}
            </mat-icon>
            <p>{{transaction.transactionType}}</p>
        </div>
        <h2 [style.color]="transaction.transactionType === 'Income' ? '#21C206' : '#EE3F19'">{{transaction.amount}}{{transaction.currency?.symbol}}</h2>
    </div>
    <h1 class="transaction-details__category">{{transaction.category}}</h1>
    <div class="transaction-details__rows">
        <div class="transaction-details__row">
            <b class="transaction-details__title">Description: </b>
            <div class="transaction-details__detail-value">
                <p>{{transaction.description}}</p>
            </div>
        </div>
        <div class="transaction-details__row">
            <b class="transaction-details__title">Transaction Date: </b>
            <div class="transaction-details__detail-value">
                <p>{{transaction.transactionDate | date:'MM.dd.y'}}</p>
            </div>
        </div>
    </div>
</div>