<div class="transaction-details">
    <h1>Transaction</h1>
    <div class="account-details__row">
        <b class="account-details__title">Title</b>
        <div class="account-details__detail-value">
            <p>{{transaction.title}}</p>
        </div>
    </div>
    <div class="account-details__row">
        <b class="account-details__title">Amount</b>
        <div class="account-details__detail-value">
            <p>{{transaction.amount}}</p>
        </div>
    </div>
    <div class="account-details__row">
        <b class="account-details__title">Currency</b>
        <div class="account-details__detail-value">
            <p>$</p>
        </div>
    </div>
    <div class="account-details__row">
        <b class="account-details__title">Description</b>
        <div class="account-details__detail-value">
            <p>{{transaction.description}}</p>
        </div>
    </div>
    <div class="account-details__row">
        <b class="account-details__title">Description</b>
        <div class="account-details__detail-value">
            <p>{{transaction.transactionDate | date:'MM.dd.y'}}</p>
        </div>
    </div>
</div>