@import url('https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300&display=swap');

* {
    font-family: 'Alata', sans-serif;
}

.login-page {
    background-image: url(../../images/money-savings-currency-fingers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form-wrapper {
        width: 515px;
        height: 459px;
        padding: 60px 50px;
        background-color: rgba(255, 255, 255, 0.80);
        border-radius: 10px;
    }
    &__title {
        margin-bottom: 35px;
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%
    }
    &__button {
        height: 50px;
        background-color: #B9E2E6;
    }
}