<aside class="accounts">
    <h3 class="accounts__title">Accounts</h3>
    <button 
    mat-button 
    color="primary" 
    class="accounts__new-account-button" 
    (click)="showDialog()"><mat-icon>add_plus</mat-icon> Add New Account</button>
    <div class="accounts__accounts-content" *ngIf="accounts.length > 0">
        <app-account 
        *ngFor="let account of accounts" 
        [account]="account"
        ></app-account>
    </div>
    <div *ngIf="accounts.length === 0" [ngStyle]="{marginTop: '10px', color: 'red'}">
        <h2>Accounts List Is Empty</h2>
    </div>
</aside>
