.categories {
    min-height: 100vh;
    margin: 0 40px;
    margin-top: 10px;
    &__categories-title {
        text-align: center;
    }
    &__category-type {
        margin-bottom: 10px;
    }
    &__category-form {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: auto;
        margin-top: 15px;
        padding: 20px;
        .radio-button {
            margin-left: 10px;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 39px;
            border: 1px solid #000;
            border-radius: 10px;
            cursor: pointer;
            .plus {
                color: #000;
            }
        }
    }
}