.categories {
    min-height: 100vh;
    margin: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__categories-title {
        text-align: center;
    }
    &__category-type {
        margin-bottom: 10px;
    }
    &__category-form {
        display: flex;
        flex-direction: column;
        width: 617px;
        margin-bottom: 15px;
        margin-top: 15px;
        .radio-button {
            margin-left: 10px;
        }
    }
    .error {
        color: red;
    }
}