<header class="app-header">
    <div class="app-header__logo">
        <h2>
            <a [routerLink]="['/']">Budgetify</a>
        </h2>
    </div>
    <ul class="app-header__links">
        <li class="app-header__list-item">
            <a class="app-header__link" [routerLink]="['/categories']" 
            routerLinkActive="router-link-active"
            >Categories</a>
        </li>
        <li class="app-header__list-item">
            <a class="app-header__link" [routerLink]="['/statistics']" routerLinkActive="router-link-active" >Statistics</a>
        </li>
        <li class="app-header__list-item" *ngIf="isAdmin">
            <a class="app-header__link" routerLink="admin">Admin</a>
        </li>
    </ul>
    <div class="app-header__user">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
             {{user.firstName | titlecase}} {{user.lastName | titlecase}}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>
            <button 
            mat-menu-item
            (click)="showLogoutDialog()"><mat-icon>logout</mat-icon> Log Out</button>
        </mat-menu>
    </div>
</header>