<aside class="options">
    <h3>Options</h3>
    <div class="options__content-wrapper">
        <section class="options__transaction-options">
            <button class="options__filter-transactions">
                <mat-icon class="arrow-icon arrow-downward">arrow_downward</mat-icon>
                 Income
            </button>
            <button class="options__filter-transactions">
                <mat-icon class="arrow-icon arrow-upward">arrow_upward</mat-icon>
                 Expenses
            </button>
            <button class="options__add-transaction" (click)="showTransactionPage()">
                <mat-icon class="arrow-icon add-plus">add</mat-icon>
                 Add Transaction
            </button>
            <p *ngIf="message" class="options__error-message">{{message}}</p>
        </section>
    </div>
</aside>