.options {
    h3 {
        text-align: end;
    }
    &__transaction-options {
        margin-top: 10px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }
    .arrow-icon {
        margin-left: 11px;
        color: #FFF;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
    }
    .arrow-upward {
        background-color: #21C206;
    }
    .arrow-downward {
        background-color: #EE3F19;
    }
    button {
        cursor: pointer;
        height: 49px;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 10px;
        border: none;
        display: flex;
        align-items: center;
    }
    &__filter-transactions {
        background-color: #FFF;
    }
    &__add-transaction {
        background-color: #B9E2E6;
    }
    .add-plus {
        background-color: #FFF;
        color: #B9E2E6;
    }
    &__add-transaction-form {
        display: flex;
        width: 100%;
        flex-direction: column;
        input {
            border-radius: 10px;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #000;
        }
        textarea {
            margin-top: 10px;
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px;
            resize: none;
            margin-bottom: 10px;
        }
    }
    &__category-div {
        display: flex;
        flex-direction: column;
    }
    #select-category {
        border: 1px solid #000;
        margin-top: 5px;
        padding: 10px;
        border-radius: 10px;
    }
    &__add-transaction-submit {
        padding: 10px;
        background: linear-gradient(45deg,#f5a7a7, #9198e5);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: #FFF;
        font-size: 20px;
        margin-top: 10px;
    }
}