<form [formGroup]="editAccountForm" (ngSubmit)="updateAccount()" class="edit-account-form">
    <mat-form-field appearance="fill">
        <mat-label>Title (min: 3 chars)</mat-label>
        <input formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description (min: 10 chars)</mat-label>
        <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <button 
    mat-raised-button
    type="submit"
    color="primary" [disabled]="editAccountForm.invalid">Edit Account</button>
</form>